.vax-card {
    width: 350px;
    height: 400px;
    color: black
}

.text-white {
    color: rgb(0 0 0 / 78%)!important;
}

.card-header {
    height: 200px;
    padding: 0;
}

.card-title-main {
    font-size: 16pt;
    margin: 2pt;
    padding: 0pt;
    line-height: 0;
}

.card-title-second {
    font-size: 13pt;
    padding: 8pt;
    font-weight: 150;
}

.vax-logo img {
    max-width: 250px;
    height: auto;
    padding: 0;
    line-height: 0;
}

.card-text {
    font-size: 13pt;
    vertical-align: middle;
}

.card-text-details {
    font-size: 10pt;
    text-justify: newspaper;
}
ul {
    padding: 0;
    margin: 0;
}

.card-text,
.card-text-details {
    padding-bottom: 0;
    margin: 0;
}

.card-text-required {
    padding-left: 4pt;
    padding-right: 4pt;
    display: flex;
    justify-content: center;
}

.card-text-recommended {
    padding-left: 4pt;
    padding-right: 4pt;
    display: flex;
    justify-content: center;
}

.footer{
    padding: 4pt;
    font-size: 8pt;
}