.form-container {
    display: flex;
}
.form-container .trav-card{
    height: 60vh;
    margin: 30px;
}
.form-content-city, .form-content-date {
    text-align: left;
    margin: 10px 0;
}
.form-content-city input, .form-content-date input {
    width: 100%;
    height: 40px;
}
.form-content-date label {
    display: block;
}

.form-content-city>div {
    position: absolute;
    padding: 5px;
    border: 1px solid var(--main-color);
    width: 30vw;
    background-color: var(--color-theme-1);
    color: var(--color-theme-2);
}
.form-content-city>div>div {
    padding: 5px;
    cursor: pointer;
}
.form-content-city>div>div:hover {
    background-color: var(--color-theme-5);
    border-radius: 5px;
}


.geocoder {
    width: 400px;
    background: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
    display: grid;
    justify-self: center;
}
