h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    font-family: 'Pacifico', cursive!important;
    font-family: 'Shadows Into Light', cursive!important;
}
.navbar-brand {
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive!important;
    font-family: 'Shadows Into Light', cursive!important;
}
nav.navbar {
    /* background-color: #2081c3; */
    background-color: var(--color-theme-4);
}