.EditNote{
    background-color: var(--color-theme-4);
    width: 50%;
}

.EditNote.trav-card form{
    flex-direction: row;
    flex-wrap: wrap;
}

.edit-note-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    padding: 10px;
}
.trav-card form .edit-note-inputs input, .trav-card form .edit-note-inputs textarea {
    width: 100%;
    border: none;
}

.edit-note-button {
    width: 100%;
}